{
  "env": {
    "development": {
      "plugins": [
        ["tailwind", { "ssr": true, "displayName": true, "preprocess": false }]
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [
        ["tailwind", { "ssr": true, "displayName": true, "preprocess": false }]
      ],
      "presets": ["next/babel"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  },
  "plugins": [
    ["tailwind", { "ssr": true, "displayName": true, "preprocess": false }]
  ]
}
