@tailwind base;
@tailwind components;
@tailwind utilities;

/* ********************* */
/* ***** CONSTANTS ***** */
/* ********************* */

/* **************************** */
/* ******** RESPONSIVE ******** */
/* **************************** */
$breakpoint-mobile: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-huge: 1280px;

/* ********************* */
/* ******* FONTS ******* */
/* ********************* */

@font-face {
  font-family: WorkSans;
  src: url(/fonts/WorkSans/WorkSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: WorkSans;
  font-style: italic;
  src: url(/fonts/WorkSans/WorkSans-Italic-VariableFont_wght.ttf)
    format('truetype');
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Thin.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-ThinItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-MediumItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-LightItalic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Light.ttf) format('truetype');
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Italic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Prompt;
  src: url(/fonts/Prompt/Prompt-Black.ttf) format('truetype');
  font-weight: 900;
}

body {
  height: 100vh;
  min-width: 350px;
  background-color: #dbf7f5;

  // Fix for Safari
  // https://stackoverflow.com/a/37365794
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  border-radius: 4px;

  li {
    & ~ li {
      border-left: 0.5px solid white;
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      filter: brightness(0.9);
      &:not(.active) {
        color: theme('colors.secondary');
      }
    }

    a {
      padding: 0.25rem 0.9rem;
      cursor: pointer;
      width: max-content;
      height: auto;
      font-weight: 500;
    }

    display: flex;
    align-items: center;
    border-radius: 0;
  }
}

ul li > p {
  margin-bottom: 0 !important;
}
